# Created by .ignore support plugin (hsz.mobi)
### Gradle template
.gradle
/build/

# User-specific stuff
.idea
# CMake
cmake-build-*/

# Mongo Explorer plugin
.idea/**/mongoSettings.xml

# File-based project format
*.iws

# IntelliJ
out/
